{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["warn", 2],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
      "newlines-between": "always-and-inside-groups"
    }],
    "sort-imports": ["error", {
      "ignoreCase": true,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
      "allowSeparatedGroups": false
    }]
  }
}